<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="franchise" type="nl.semtech.gamelibrary.model.Franchise"*/-->
<!--/*@thymesVar id="activeProfiles" type="java.lang.String"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Verander franchise</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>
<main>
    <section th:if="${franchise} != null">
        <section class="add-page">
            <form action="*" th:action="@{/franchise/edit/__${franchise.id}__}" th:object="${franchise}"
                  th:method="post">
                <div class="row">
                    <label for="id">ID</label>
                    <input id="id" placeholder="id" readonly th:field="*{id}" type="number">
                </div>
                <div class="row">
                    <label for="name">Naam</label>
                    <input id="name" placeholder="Naam" th:field="*{name}" type="text"/>
                </div>
                <strong th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</strong>
                <div class="row">
                    <label for="genres">Genre</label>
                    <select id="genres" th:field="*{genreid}">
                        <option th:each="dropdownitem : ${genres}"
                                th:selected="${dropdownitem.id} == ${franchise.genreid}"
                                th:text="${dropdownitem.name}"
                                th:value="${dropdownitem.id}"></option>
                    </select>
                </div>
                <strong th:if="${#fields.hasErrors('genreid')}" th:errors="*{genreid}">Content error message</strong>
                <input placeholder="Oude genre id" name="oldgenreid" type="hidden" th:value="*{genreid}">
                <div class="row">
                    <input name="submit" type="submit" value="submit"/>
                </div>
            </form>
        </section>
    </section>
    <section th:unless="${franchise} != null">
        <h1>No franchise found</h1>
    </section>
</main>
</body>
</html>