<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="franchise" type="nl.semtech.gamelibrary.model.Franchise"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Voeg franchise toe</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>
<main>
    <div class="add-page">
        <form action="*" th:action="@{/franchise/add}" th:object="${franchise}" method="post">
            <input placeholder="Franchise naam" type="text" th:field="*{name}"/>
            <b th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</b>
            Genre:
            <select th:field="*{genreid}">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
            <b th:if="${#fields.hasErrors('genreid')}" th:errors="*{genreid}">Content error message</b>
            <button type="submit">Submit</button>
            </table>
        </form>
    </div>
</main>
</body>
</html>