<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="franchise" type="nl.semtech.gamelibrary.model.Franchise"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Voeg franchise toe</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>
<main>
    <section class="add-page">
        <form action="*" th:action="@{/franchise/add}" th:object="${franchise}" method="post">
            <div class="row">
                <label for="name">Naam</label>
                <input id="name" placeholder="Franchise naam" th:field="*{name}" type="text"/>
            </div>
            <strong th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</strong>
            <div class="row">
                <label for="genres">Genre</label>
                <select id="genres" th:field="*{genreid}">
                    <option th:each="genre : ${genres}" th:text="${genre.name}" th:value="${genre.id}"></option>
                </select>
            </div>
            <strong th:if="${#fields.hasErrors('genreid')}" th:errors="*{genreid}">Content error message</strong>
            <div class="row">
                <input name="submit" type="submit" value="submit"/>
            </div>
            </table>
        </form>
    </section>
</main>
</body>
</html>