<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/@thymesVar id="franchise" type="nl.semtech.gamelibrary.model.Franchise"/-->
<!--/@thymesVar id="activeProfiles" type="java.lang.String"/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head>
    <meta charset="UTF-8">
    <title>All games</title>
    <link rel="stylesheet" href="../../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div class="flex-container">
    <div class="box" th:each="game : ${franchise.getGames()}">
        <a th:href="@{'game?name=' + ${game.name}}" class="box">
            <b><span th:text="${game.getName()}"> name </span></b>
        </a>
    </div>
</div>
</body>
</html>