<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/@thymesVar id="franchise" type="nl.semtech.gamelibrary.model.Franchise"/-->
<!--/@thymesVar id="activeProfiles" type="java.lang.String"/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head  th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle" th:text="${franchise.getName()}"></title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>
<main>
<div class="flex-container">
    <div class="box" th:each="game : ${franchise.getGames()}">
        <a th:href="@{'game?name=' + ${game.name}}" class="box">
            <img class="flex-image" th:src="@{/square-placeholder.jpg}" alt="placeholder">
            <b><span th:text="${'Naam: ' + game.getName()}"> name </span></b>
            <b><span th:text="${'&euro; ' + game.getPrice()}"> price</span></b>
        </a>
    </div>
</div>
</main>
</body>
</html>