<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<!--/*@thymesVar id="game" type="nl.semtech.gamelibrary.model.Game"*/-->
<!--/*@thymesVar id="activeProfiles" type="java.lang.String"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head>
    <meta charset="UTF-8">
    <title>Add game</title>
</head>
<body>
<form action="*" th:action="@{/game/add}" th:object="${game}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" th:field="*{price}"/></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Content error message</td>
        </tr>
        <tr>
            <td>Franchise</td>
            <td>
                <select name="franchise">
                    <option th:each="franchise : ${franchises}" th:text="${franchise.name}"
                            th:value="${franchise.id}" th:selected="${franchise.id == editfranchise.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>