<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<!--/*@thymesVar id="game" type="nl.semtech.gamelibrary.model.Game"*/-->
<!--/*@thymesVar id="activeProfiles" type="java.lang.String"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Verander game</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>
<main>
    <section th:if="${game} != null">
        <div class="add-page">
            <form action="*" th:action="@{/game/edit/__${game.id}__}" th:object="${game}" th:method="post">
                <div class="row">
                    <label class="col" for="id">ID</label>
                    <input class="col" id="id" placeholder="id" readonly th:field="*{id}" type="number">
                </div>
                <div class="row">
                    <label class="col" for="name">Naam</label>
                    <input class="col" id="name" placeholder="Naam" th:field="*{name}" type="text"/>
                </div>
                <strong th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</strong>
                <div class="row">
                    <label class="col" for="price">Naam</label>
                    <input class="col" id="price" placeholder="Prijs" th:field="*{price}" type="number"/>
                </div>
                <strong th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Content error message</strong>
                <div class="row">
                    <label class="col" for="franchise">Franchise</label>
                    <select class="col" id="franchise" th:field="*{franchiseId}">
                        <option th:each="dropdownitem : ${franchises}"
                                th:selected="${dropdownitem.id} == ${game.franchiseId}"
                                th:text="${dropdownitem.name}"
                                th:value="${dropdownitem.id}"></option>
                    </select>
                </div>
                <strong th:errors="*{franchiseId}" th:if="${#fields.hasErrors('franchiseId')}">Content error
                    message</strong>
                <input name="oldfranchiseid" placeholder="Oude franchise id" th:value="*{franchiseId}"
                       type="hidden">
                <div class="row">
                    <input name="submit" type="submit" value="submit"/>
                </div>
            </form>
        </div>
    </section>
    <section th:unless="${game} != null">
        <h1>No game found</h1>
    </section>
</main>
</body>
</html>