<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<!--/*@thymesVar id="game" type="nl.semtech.gamelibrary.model.Game"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Voeg game toe</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>
<main>
    <div class="add-page">
        <form action="*" th:action="@{/game/add}" th:object="${game}" method="post">
            <input placeholder="Game naam" type="text" th:field="*{name}"/>
            <b th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</b>
            <input min="0" placeholder="Prijs" type="number" th:field="*{price}"/>
            <b th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Content error message</b>
            <label for="franchise-select">Franchise: </label>
            <select id="franchise-select" th:field="*{franchiseId}">
                <option th:each="franchise : ${franchises}" th:text="${franchise.name}"
                        th:value="${franchise.id}"></option>
            </select>
            <b th:if="${#fields.hasErrors('franchiseId')}" th:errors="*{franchise}">Content error message</b>
            <button type="submit">Submit</button>
        </form>
    </div>
</main>
</body>
</html>