<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Alle games</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>
<main>
    <div>
        <a th:href="@{'game/add'}" class="add-box">
            Maak game aan
        </a>
    </div>
    <div th:if="${games.empty}">
        <p> Geen games beschikbaar</p>
    </div>
    <div class="flex-container">
        <div th:each="game : ${games}">
            <img alt="placeholder" class="flex-image" th:src="@{/square-placeholder.jpg}">
            <strong th:text="${'Naam: ' + game.name}"> name </strong><br>
            <strong th:text="${'&euro; ' + game.price}"> price </strong><br>
            <a class="box" th:href="@{'game?name=' + ${game.name}}">Bekijk game</a>
        </div>
    </div>
</main>
</body>
</html>