<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/@thymesVar id="game" type="nl.semtech.gamelibrary.model.Game"/-->
<!--/@thymesVar id="activeProfiles" type="java.lang.String"/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head>
    <meta charset="UTF-8">
    <title th:text="${game.getName()}"></title>
    <link rel="stylesheet" href="../../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div class="game-showcase">
    <img class="flex-image" th:src="@{/square-placeholder.jpg}" alt="placeholder">
    <b><span th:text="${'Naam: ' + game.getName()}"> name </span></b>
    <b><span th:text="${'&euro; ' + game.getPrice()}"> prijs </span></b>
</div>
</body>
</html>