<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All games</title>
    <link rel="stylesheet" href="../../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div th:if="${games.empty}">
    <a> No Games Available</a>
</div>
<div class="flex-container">
    <div th:each="game : ${games}">
        <a th:href="@{'game?name=' + ${game.name}}" class="box">
            <img class="flex-image" th:src="@{/square-placeholder.jpg}" alt="placeholder">
            <b><span th:text="${'Naam: ' + game.name}"> name </span></b>
            <b><span th:text="${'&euro; ' + game.price}"> price </span></b>
        </a>
    </div>
</div>
</body>
</html>