a.box {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eee;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: #47A8E0;
    min-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav .item {
    padding: 1rem .4rem;
    text-align: center;
    font-family: sans-serif;
    color: white;
    flex-grow: 1;
}

nav .divider {
    height: 2.5rem;
    margin: auto 0;
    border: solid 1px #32512F;
}

nav .item:not(.disabled):hover {
    background-color: #004CB7;
    cursor: pointer;
}

nav:nth-last-child(div) {
    align-self: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    min-height: 10rem;
    padding: 1rem;
}

.item.open {
    display: block;
    width: 100%;
}


.box > strong, .game-showcase > b {
    display: block;
    margin-top: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: #b0aab3;
    padding: 15px;
    margin: 15px;
    width: calc(25% - 4em);
    height: 100%;
}

.flex-container > div:hover, .game-showcase, .add-box:hover {
    border: #8f8992 1px solid;
    padding: 14px;
}

.game-showcase {
    width: calc(100% - 30px);
    height: 100%;
    background-color: #b0aab3;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .game-showcase > img {
        width: 400px;
        height: 400px;
        display: inline-block;
        float: left;
    }
}


.info {
    display: inline-block;
    padding: 4px;
    margin: 0;
}

.flex-image {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.add-box {
    width: calc(100% - 60px);
    display: block;
    background-color: #b0aab3;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color:black;
}

.add-page {
    position: absolute;
    background: #b0aab3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.login-form {
    position: absolute;
    background: #b0aab3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    .flex-container > div {
        padding: 5%;
        margin: 5px;
        width: calc(40% - 10px);
    }

    .flex-container > div:hover {
        padding: calc(5% - 1px);
    }
}

.edit-delete {
    display: inline-block;
    padding: 4px;
}


input, select, textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.login-form {
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #47A8E0;
    color: white;

    padding: 4px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #468cc3;
}

form > strong {
    color: red;
    font-size: 12px;
}

.col {
    float: left;
    width: 100%;
}

.row {
    margin-top: 4px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        margin-top: 0;
    }
}


table.errortable td {
    color: red;
    vertical-align: top;
    border: solid 1px #888;
    padding: 10px;
}