<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Log in</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>

<main>
    <section class="form">
        <header><h1>Login</h1></header>
        <form th:action="@{/login}" method='post'>
            <div class="row">
                <label class="col" for="username"> User:</label>
                <input class="col" type='text' id="username" name='username' value=''>
            </div>
            <div class="row">
                <label class="col" for="password">Password:</label>
                <input class="col" type='password' id="password" name='password'/>
            </div>
            <div class="row">
                <input name="submit" type="submit" value="submit"/>
            </div>
            <strong th:text="${error}"></strong><br>
            <a th:href="@{/register}">Geen account?</a>
        </form>
    </section>
</main>
</body>
</html>