<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="nl.semtech.gamelibrary.model.User"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Title</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>

<main>
    <section class="form">
        <header><h1>Register</h1></header>
        <form action="*" method="post" th:action="@{/register}" th:object="${user}">
            <div class="row">
                <label class="col" for="username">Username:</label>
                <input class="col" id="username" th:field="*{username}" type="text"/>
                <strong th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Title error
                    message</strong>
            </div>
            <div class="row">
                <label class="col">Password:</label>
                <input class="col" id="password" th:field="*{password}" type="text"/>
                <strong th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Content error
                    message</strong>
            </div>
            <div class="row">
                <label class="col" for="name">Name:</label>
                <input class="col" id="name" th:field="*{name}" type="text"/>
                <strong th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Content error message</strong>
            </div>
            <div class="row">
                <input name="submit" type="submit" value="submit"/>
            </div>
        </form>
    </section>
</main>
</body>
</html>