<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<!--/*@thymesVar id="genre" type="nl.semtech.gamelibrary.model.Genre"*/-->
<!--/*@thymesVar id="activeProfiles" type="java.lang.String"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head>
    <meta charset="UTF-8">
    <title>Edit genre</title>
</head>
<body>
<section th:if="${genre} != null">
<form action="*" th:action="@{/genre/edit/__${genre.id}__}" th:object="${genre}" th:method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="number" readonly th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</section>
<section th:unless="${genre} != null">
    <h1>No genre found</h1>
</section>
</body>
</html>