

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="genre" type="nl.semtech.gamelibrary.model.Genre"*/-->
<!--/*@thymesVar id="activeProfiles" type="java.lang.String"*/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head>
    <meta charset="UTF-8">
    <title>Add game</title>
</head>
<body>
<form action="*" th:action="@{/genre/add}" th:object="${genre}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{genre}">Title error message</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>