<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/@thymesVar id="genres" type="nl.semtech.gamelibrary.model.Genre"/-->
<!--/@thymesVar id="activeProfiles" type="java.lang.String"/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head>
    <meta charset="UTF-8">
    <title>All genres</title>
    <link rel="stylesheet" href="../../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div th:if="${genres.empty}">
    <a> No genres Available </a>
</div>
<div class="flex-container">
    <div th:each="genre : ${genres}">
        <a th:href="@{'genre?name=' + ${genre.name}}" class="box">
            <img class="flex-image" th:src="@{/square-placeholder.jpg}" alt="placeholder">
            <b><span th:text="${genre.name}"> name </span></b>
            <b><span th:text="${genre.getFranchisesCount()}"> amount of franchises </span></b>
        </a>
    </div>
</div>
</body>
</html>