<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/@thymesVar id="genres" type="nl.semtech.gamelibrary.model.Genre"/-->
<!--/@thymesVar id="activeProfiles" type="java.lang.String"/-->
<!-- Workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head th:replace="general/fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Alle genres</title>
</head>
<body>
<nav th:replace="general/fragments :: nav"></nav>
<main>
    <div th:if="${genres.empty}">
        <a> No genres Available </a>
    </div>
    <div>
        <a th:href="@{'genre/add'}" class="add-box">
            Maak genre aan
        </a>
    </div>
    <div class="flex-container">
        <div th:each="genre : ${genres}">
            <img alt="placeholder" class="flex-image" th:src="@{/square-placeholder.jpg}">
            <strong th:text="${'Naam: ' + genre.name}"> name</strong><br>
            <strong th:text="${'Aantal: ' + genre.getFranchisesCount() + ' franchise(s)'}"> </strong><br>
            <a class="box" th:href="@{'genre/edit/' + ${genre.id}}">Edit</a>
            <a class="box" th:href="@{'genre/delete/' + ${genre.id}}">Delete</a><br>
            <a class="box" th:href="@{'genre?name=' + ${genre.name}}">Bekijk alle franchises</a>
        </div>

    </div>
</main>
</body>
</html>